<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799951158721-p11b788be20mdoo3v8v33hsfddoddb06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799951158721-p11b788be20mdoo3v8v33hsfddoddb06</string>
	<key>API_KEY</key>
	<string>AIzaSyChF3gs32gAAAO65wg7jVWZFLR38KENy_A</string>
	<key>GCM_SENDER_ID</key>
	<string>799951158721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourism</string>
	<key>PROJECT_ID</key>
	<string>tourism-fb13c</string>
	<key>STORAGE_BUCKET</key>
	<string>tourism-fb13c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799951158721:ios:aa258e49a0f9ee84c20340</string>
</dict>
</plist>